* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgba(150, 150, 150, 1);
}
h1 {
    font-size: calc(5px + 3vmin);
    margin: 2vh 0 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(211, 211, 211, 1);
    border-radius: 2vmin 2vmin 0 0;
    width: 95vmin;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1>* {
    margin: 2vmin 0;
}
h1>div {
    display: flex;
    align-items: center;
    padding: 1vmin;
    border: 0.5vmin dashed rgba(150, 150, 150, 1);
}
h1>div>img {
    height: calc(5px + 3vmin);
    opacity: 0.6;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 0 0 2vmin 2vmin;
    padding: 0 0 12vmin;
}
.settings-bar {
    display: flex;
    align-items: center;
    width: 95vmin;
    min-height: 7.5vmin;
}
.mode-hover {
    display: flex;
    margin: 0 0 0 2%;
    align-items: center;
}
.mode-hover>.border {
    border: 0.75vmin solid rgba(150, 150, 150, 1);
    width: 3vmin;
    height: 3vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.3s ease;
}
.mode-hover:hover>.border  {
    border: 0.25vmin solid rgba(211, 211, 211, 1);
}
.mode-hover>.border.clicked {
    border: 0.25vmin solid rgba(255, 0, 0, 1);
}
.border>.fill {
    background-color: rgba(255, 0, 0, 1);
    width: 50%;
    height: 50%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
.border>.fill.clicked {
    opacity: 1;
}
.mode-hover>.mode-text {
    color: rgba(150, 150, 150, 1);
    font-size: 3vmin;
    transition: color 0.3s ease;
    padding: 0 0 0 5%;
    transition: color 0.3s ease;
}
.mode-hover:hover>.mode-text  {
    color: rgba(211, 211, 211, 1);
}
.mode-hover>.mode-text.clicked {
    color: rgba(255, 0, 0, 1);
}
.num-mines-choices {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 0 2%;
    height: 5vmin;
}
.num-mines-hover {
    display: flex;
    align-items: center;
}
.num-mines-hover>.small-border {
    border: 0.36vmin solid rgba(150, 150, 150, 1);
    width: 1.5vmin;
    height: 1.5vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.3s ease;
}
.num-mines-hover:hover>.small-border  {
    border: 0.36vmin solid rgba(211, 211, 211, 1);
}
.num-mines-hover>.small-border.clicked {
    border: 0.36vmin solid rgba(255, 0, 0, 1);
}
.small-border>.small-fill {
    background-color: rgba(255, 0, 0, 1);
    width: 50%;
    height: 50%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
.small-border>.small-fill.clicked {
    opacity: 1;
}
.num-mines-hover>.num-mines-text {
    color: rgba(150, 150, 150, 1);
    font-size: 1.5vmin;
    transition: color 0.3s ease;
    padding: 0 0 0 5%;
    transition: color 0.3s ease;
}
.num-mines-hover:hover>.num-mines-text  {
    color: rgba(211, 211, 211, 1);
}
.num-mines-hover>.num-mines-text.clicked {
    color: rgba(255, 0, 0, 1);
}
.num-mines-input {
    border: 0.5vmin solid rgba(150, 150, 150, 1);
    border-radius: 1vmin;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 0 0 2%;
    color: rgba(211, 211, 211, 1);
    text-align: center;
}
.num-mines-input::-webkit-inner-spin-button, 
.num-mines-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.reset-board-btn {
    background-color: rgba(255, 0, 0, 0.2);
    border: none;
    margin: 1vmin 0 0 3%;
    color: rgba(150, 150, 150, 1);
    border-radius: 2vmin;
    padding: 1vmin 2vmin;
    flex-shrink: 1;
}
.reset-board-btn.ready {
    background-color: rgba(255, 0, 0, 0.8);
    color: rgba(211, 211, 211, 1);
}
.reset-board-btn:active {
    opacity: 0.6;
}
.status-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60vmin;
    background-color: rgba(150, 150, 150, 1);
    padding: 1vmin 0;
    border: solid rgba(105, 105, 105, 1);
    border-width: 0.5vmin 0.5vmin 0.05vmin 0.5vmin;
}
.flag-tracker, .timer {
    font-size: calc(10px + 3vmin);
    text-align: center;
    font-weight: bold;
    color: rgba(255, 0, 0, 1);
    background-color: rgba(0, 0, 0, 1);
    padding: 0 1vmin;
    border: 0.5vmin solid rgba(105, 105, 105, 1);
}
.smiley {
    width: 12vmin;
    background-color: rgba(150, 150, 150, 1);
    border: 0.5vmin outset rgba(105, 105, 105, 0.75);
    border-radius: calc(5px + 1vmin);
    padding: 1vmin;
    background-color: rgba(0, 0, 0, 1);
}
.smiley:active {
    background-color: rgba(105, 105, 105, 0.75);
    border: 0.5vmin inset rgba(105, 105, 105, 0.75);
}
.smiley:hover {
    border: 0.5vmin inset rgba(105, 105, 105, 0.75);
}
.board {
    display: grid;
    border: 0.1vmin solid rgba(105, 105, 105, 1);
    position: relative;
}
.tile {
    background-color: rgba(150, 150, 150, 1);
    border: 0.3vmin outset rgba(105, 105, 105, 1);
    width: 100%;
    height: 100%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile:active {
    border: 0.3vmin inset rgba(105, 105, 105, 1);
    /* border: 0.2vmin solid rgba(105, 105, 105, 1); */
    /* color: lightgray */
}
.tile>img {
    pointer-events: none;
}
.mine-img {
    height: 90%;
}
.other-bombs {
    opacity: 0.5;
}
.flag-img {
    height: 70%;
}
div.win-message {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
div.win-message>p {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(211, 211, 211, 1);
    font-size: calc(5px + 3vmin);
    text-align: center;
    width: 90%;
    padding: 5% 0;
    border-radius: 2vmin;
}