* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgba(150, 150, 150, 1);
}
h1 {
    font-size: calc(10px + 3vmin);
    margin: 2vh 0 1vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-bar {
    display: flex;
    align-items: center;
    width: 60vmin;
    margin: 1vh 0;
}
.settings-button {
    background-color: black;
    border-radius: 2vmin;
    padding: 2vmin 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.settings-arrow {
    border-top: 2vmin solid lightgray;
    border-left: 2vmin solid transparent;
    border-right: 2vmin solid transparent;
}
.settings-text {
    color: lightgray;
    margin: 0 0 0 3vmin;
    font-size: 3vmin;
}
.status-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60vmin;
    background-color: rgba(150, 150, 150, 1);
    margin: 2vh 0 0;
    padding: 1vmin 0;
    border-top: 0.5vmin solid dimgray;
    border-right: 0.5vmin solid dimgray;
    border-left: 0.5vmin solid dimgray;
    border-bottom: 0.05vmin solid dimgray;
}
.flag-tracker, .timer {
    font-size: calc(15px + 4vmin);
    text-align: center;
    font-weight: bold;
    color: red;
    background-color: black;
    padding: 0 1vmin;
}
.smiley {
    width: 25%;
    background-color: rgba(150, 150, 150, 1);
    border: 3px solid rgba(105, 105, 105, 0.75);
    border-radius: calc(5px + 1vmin);
    padding: 1vmin;
}
.smiley:active {
    background-color: rgba(105, 105, 105, 0.75);
}
.board {
    display: grid;
    border: 0.1vmin solid dimgray;
}
.tile {
    background-color: rgba(150, 150, 150, 1);
    border: 0.2vmin solid dimgray;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile>img {
    pointer-events: none;
}
.mine-img {
    height: 90%;
}
.other-bombs {
    opacity: 0.5;
}
.flag-img {
    height: 70%;
}